<header>
  <nav role="navigation" :class="navBar">
    <main class="wrapper">
      <div class="logo">
        <!-- <a href="#top"><img src="00_assets/01_logos/2015_001_solid_purple.svg" width="auto" height="35px"></a> -->
        <a href="{{site.baseurl}}/" title="Blog Home"><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
          viewBox="-378 163.6 203 234.4" style="enable-background:new -378 163.6 203 234.4;" xml:space="preserve">

          <g id="XMLID_1_">
            <polygon id="XMLID_2_" class="st0" points="-378,339.4 -344.1,358.9 -310.3,339.4 -310.3,300.4 -344.1,280.8 -378,300.4 	"/>
            <polygon id="XMLID_3_" class="st0" points="-344,320 -310.3,300.4 -310.3,261.3 -344.1,241.8 -378,261.3 -378,300.4 	"/>
            <polygon id="XMLID_4_" class="st0" points="-344.1,280.8 -310.3,261.3 -310.3,222.2 -344.1,202.7 -378,222.2 -378,261.3 	"/>
            <polygon id="XMLID_5_" class="st0" points="-344.1,241.8 -310.3,222.2 -310.3,183.2 -344.1,163.6 -378,183.2 -378,222.2 	"/>
            <polygon id="XMLID_6_" class="st0" points="-242.7,261.2 -208.8,241.7 -175,261.2 -175,300.3 -208.8,319.8 -242.7,300.3 	"/>
            <polygon id="XMLID_7_" class="st0" points="-242.7,222.1 -208.8,202.6 -175,222.1 -175,261.2 -208.8,280.7 -242.7,261.2 	"/>
            <polygon id="XMLID_8_" class="st0" points="-242.7,183.3 -208.8,163.7 -175,183.3 -175,222.3 -208.8,241.9 -242.7,222.3 	"/>
            <polygon id="XMLID_9_" class="st0" points="-276.5,202.7 -242.7,183.2 -208.8,202.7 -208.8,241.8 -242.7,261.3 -276.5,241.8 	"/>
            <polygon id="XMLID_10_" class="st0" points="-310.3,183.2 -276.5,202.7 -276.5,241.8 -310.3,261.3 -344.1,241.8 -344.1,202.7 	"/>
            <polygon id="XMLID_11_" class="st0" points="-310.3,222.2 -276.5,202.7 -242.7,222.2 -242.7,261.3 -276.5,280.8 -310.3,261.3 	"/>
            <polygon id="XMLID_12_" class="st0" points="-310.3,378.5 -276.5,358.9 -276.5,319.9 -310.3,300.4 -344,320 -344,358.9 	"/>
            <polygon id="XMLID_13_" class="st0" points="-310.3,378.5 -276.5,398 -242.7,378.5 -242.7,339.4 -276.5,319.9 -310.3,339.4 	"/>
            <line id="XMLID_14_" class="st1" x1="-344.1" y1="241.8" x2="-344.1" y2="320"/>
            <line id="XMLID_15_" class="st1" x1="-378" y1="183.2" x2="-276.5" y2="241.8"/>
            <line id="XMLID_16_" class="st1" x1="-276.5" y1="241.7" x2="-276.5" y2="280.9"/>
            <line id="XMLID_17_" class="st1" x1="-344" y1="320" x2="-276.5" y2="359"/>
            <line id="XMLID_18_" class="st1" x1="-276.5" y1="359" x2="-242.7" y2="339.5"/>
            <line id="XMLID_19_" class="st1" x1="-276.5" y1="241.7" x2="-208.8" y2="202.8"/>
            <line id="XMLID_20_" class="st1" x1="-208.8" y1="202.6" x2="-175" y2="183.3"/>
            <line id="XMLID_21_" class="st1" x1="-208.8" y1="241.7" x2="-208.8" y2="319.8"/>
            <line id="XMLID_22_" class="st1" x1="-276.5" y1="358.9" x2="-276.5" y2="398"/>
          </g>
        </svg></a>
      </div>
      <div class="menu-container">
        <!-- Search input -->
        <!-- <input type="text" v-model="searchObj.searchItem" class="search-input">
        <transition name="fade" mode="out-in">
          <i class="material-icons search-icon"
          @click="searchToggle"
          v-if="!searchObj.open && searchObj.searchItem.length === 0">
          search
        </i>
        <i class="material-icons search-icon"
        @click="searchClose"
        v-if="searchObj.open || searchObj.searchItem.length !== 0"
        v-cloak>
        close
      </i>
    </transition> -->
    <!-- Top-level navigation -->
    <ul class="menu">
      <li><a href="{{ site.baseurl }}/" class="linkUnderline" title="Blog Home">Blog</a></li>
      <li><a href="{{ site.baseurl }}/archive.html" class="linkUnderline" title="Archived Posts">Archive</a></li>
      <li><a href="http://www.christopherianmurphy.com" class="linkUnderline" title="Portfolio of Work">Work</a></li>
    </ul>
        <!-- Hamburger -->
        <div class="menu-icon"></div>
      </div>
    </main>
  </nav>
<!-- Search results -->
<!-- Vue logic -->
<!-- <transition name="fade" mode="out-in">
  <section class="search-container" v-if="searchObj.searchItem.length !== 0 || searchObj.open" v-cloak>
    <ul>
      <li v-for="post in filterSearch">
        {% raw %}
        <h4>
          <a :href="post.url" class="linkUnderline">
            {{ post.title }}
          </a>
        </h4>
        <ul>
          <li v-for="tag in post.tags" class="search-tag tags">
            <a class="button">
              {{ tag }}
            </a>
          </li>
        </ul>
        {% endraw %}
      </li>
    </ul>
  </section>
</transition> -->
<!-- masthead -->
<div class="masthead{% if page.title %} masthead--post{% endif %}">
  <header class="wrapper">
    <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
    <p>{% if page.tagline %}{{ page.tagline }}{% else %}{{ site.tagline }}{% endif %}</p>
  </header>
</div>
</header>
