<!-- Capture and Sort Post Categories -->
{% capture siteCategories %}{% for category in site.categories %}{{category | first}}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}
{% assign sortedCategories = siteCategories | split:',' | sort %}
<aside>
    <h3>Tags</h3>
    <ul class="tags">
    {% for category in sortedCategories %}
    	<li><a href="{{site.baseurl}}/archive.html#{{category | cgi_escape}}" class="button">{{category}}</a></li>
   	{% endfor %}
   	</ul>
	<h3>Recent Posts</h3>
	<ul class="recent">
	{% for post in site.posts limit: 10 %}
		<li>
			<h4><a href="{{site.baseurl}}{{post.url}}" title="{{post.title}}" class="linkUnderline">{{ post.title }}</a></h4>
			<time itemprop="dateCreated" datetime="{{post.date}}">{{post.date | date:"%B %-d, %Y"}}</time>
		</li>
	{% endfor %}
	</ul>
</aside>