a {
	color: inherit;
	text-decoration: none;
	transition: color 0.25s ease-in-out;
	@media only screen and (min-width: $desktop) {
		a:hover {
			color: $brightPurple;
		}
	}
}

body {
	background-color: $white;
	text-rendering: optimizeLegibility;
	font-family: $bodyFont;
	font-size: 18px;
	color: $plumMeat;
	margin: 0 auto;
}

blockquote {
	color: $plumMeat;
	border-left: 2px solid $plumMeat;
	font-size: 18px;
	font-style: italic;

	> :last-child {
		margin-bottom: 0;
	}

	p {
		padding-left: 2em;
	}
}

figcaption {
	font-size: 0.9em;
	font-style: italic;
	padding-bottom: 2em;
	margin-top: -.5em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: $brightPurple;
	font-family: $headFont;
}

p {
	color: $plumMeat;
	font-family: $bodyFont;
	line-height: 2em;
}

ul {
	list-style-type: none;
}

time {
	font-size: 0.85em;
}
// Code formating
code,
pre {
	font-size: 15px;
	border-radius: 3px;
	background-color: $grey;
}

code {
	padding: 1px 5px;
}

pre {
	padding: 8px 12px;
	overflow-x: auto;
	white-space: pre-wrap;

	> code {
		border: 0;
		padding-right: 0;
		padding-left: 0;
	}
}

.linkUnderline {
	position: relative;
}

.linkUnderline:before {
	background-color: $brightPurple;
	bottom: 0;
	content: "";
	height: 2px;
	left: 0;
	position: absolute;
	width: 100%;
	visibility: hidden;
	transform: scaleX(0);
	transition: all 0.3s ease-in-out 0s;
}
@media only screen and (min-width: $desktop) {
	.linkUnderline:hover {
		color: $brightPurple;
	}

	.linkUnderline:hover:before {
		visibility: visible;
		transform: scaleX(1);
	}
}
