a {
	color: inherit;
	text-decoration: none;
	transition: color .25s ease-in-out;
    
    @media only screen and (min-width: 960px) and (min-resolution: 72dpi) {
        a:hover {color: #6b59ef;}
    }
}

body {
	background-color: $white;
	text-rendering: optimizeLegibility;
	font-family: $bodyFont;
	font-size: 18px;
	color: $plumMeat;
	margin: 0 auto;
}

blockquote {
    color: $plumMeat;
    border-left: 2px solid $plumMeat;
    font-size: 18px;
    font-style: italic;

    > :last-child {
        margin-bottom: 0;
    }
    
    p {padding-left: 2em;}
}

h1, h2, h3, h4, h5, h6 {
    color: $brightPurple;
    font-family: $headFont;
}

p {
    color: $plumMeat;
    font-family: $bodyFont;
    letter-spacing: .075em;
    line-height: 2em;
}

time {font-size: .75em;}

// Code formating
pre,
code {
    font-size: 15px;
    border-radius: 3px;
    background-color: $grey;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: auto;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}

.linkUnderline {position: relative;}

.linkUnderline:before {
	background-color: $brightPurple;
	bottom: 0;
	content: "";
	height: 2px;
	left: 0;
	position: absolute;
	width: 100%;
	visibility: hidden;
	transform: scaleX(0);
	transition: all 0.3s ease-in-out 0s;
}

@media only screen and (min-width: 960px) and (min-resolution: 72dpi) {
	
	.linkUnderline:hover {color: #6b59ef;}
	
	.linkUnderline:hover:before {
		visibility: visible;
		transform: scaleX(1);
	}
}