.ShareButtonContainer-list {
  line-height: normal;
  margin: 0;
}

.ShareButtonContainer-list-item {
  display: inline-block;
}

// important for getting social share buttons to align
.IN-widget {
  margin-top: 4px;
  vertical-align: text-top !important;
}

.twitter-share-button[style] {
  vertical-align: text-bottom !important;
}