//Colors
$brightPurple: #6b59ef;
$grey: #f5f5f5;
$plum: #2a2830;
$plumMeat: #4e4e63;
$white: #fff;

//Type
$headFont: 'Montserrat', sans-serif;
$bodyFont: 'Roboto Slab', serif;

//Screens
$tablet: 768px;