// Collapse nav bar on scroll down
.collapse {
  animation: collapse .5s ease forwards;
}

// Open nav bar on scroll up
.open {
  animation: open .5s ease forwards;
}

@keyframes collapse {
  from {
    opacity: 1;
    top: 0;
  }
  to {
    opacity: 0;
    top: -77px;
  }
}

@keyframes open {
  from {
    opacity: 0;
    top: -77px;
  }
  to {
    opacity: 1;
    top: 0;
  }
}
