nav main {
  align-items: center;
  display: flex;
  height: 100%;
}

.menu-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  @media only screen and (max-width: $tablet) {
    font-size: .85em;
  }
}

.menu-icon {
  //background: url("../assets/images/hamburger.svg") no-repeat;
  //background-position: top right;
  //background-size: 50%;
  color: $white;
  display: none;
  font-size: 2.25em;
  //float: right;
  //height: 60px;
  //width: 60px;
  @media only screen and (max-width: $tablet) {
    display: block;
  }
}

// Collapse nav bar on scroll down
.collapse {
  animation: collapse .5s ease forwards;
}

// Open nav bar on scroll up
.open {
  animation: open .5s ease forwards;
}

@keyframes collapse {
  from {
    opacity: 1;
    top: 0;
  }
  to {
    opacity: 0;
    top: -77px;
  }
}

@keyframes open {
  from {
    opacity: 0;
    top: -77px;
  }
  to {
    opacity: 1;
    top: 0;
  }
}
